<!DOCTYPE html>
<html>
    <head>
        <title> Programming Assignment Grader </title>
    </head>

    <body>
        <h1> Registration form </h1>

        {% if registered %}
        <strong> Account has been registered successfully. Thanks! </strong>
        <a href="/home/"> Return to the homepage. </a> <br />
        {% else %}

        <form id="user_form" method="post" action="/portal/register/" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p}}

        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</body>
</html>